.user-profile-content-container{
    width: 100%;
    height: 100%;
    background: #a6e6e6;
    border-radius: 10px;
    overflow-y: auto;
}

.no-user-mssg{
    display: flex;
    justify-content: center;
}