.header{
    height:100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #f0f0f0;
}
.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo img{
    height: 100%;
    width: 100px;
}
.header .logo .logo-text{
    font-size: 1.5em;
}
.header .options{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.options .option{
    padding: 10px 15px;
    cursor: pointer;
}