.user-information
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.user-information .info-heading{
    font-size: 32px;
    font-weight: 600;
    text-decoration: underline;
    
}

.user-information .user-details{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.user-information .user-details .name, .email{
    font-weight: bold;
    text-align: center;
}

.user-information .user-details .address-container{
    margin-top: 20px;    
}